html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, summary, footer, main, aside, section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 520px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    #header{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #header-content{
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .center{
        width: 100%;
        padding: 2%;
    }

    .logo-header > img{
        height: 70%;
    }

    .display{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .display > i{
        color: #8e8e8e;
    }

    .display >i:hover{
        cursor: pointer;
    }

    .input-header{
        height: 45%;
        width: 15%;
        padding: 1.5%;
    }

    .input-header > input{
        display: none;
    }

    .logo-header{
        height: 60px;
    }

    .logo-header > img:hover{
        cursor: pointer;
    }

    .user-header{
        width: 12%;
        justify-content: space-between;
    }

    #header-footer{
        height: 50%;
        width: 100%;
        background-color: #845cc4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-footer-words{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .header-footer-words > p{
        color: #ffffff;
        font-size: 0.75rem;
        margin: 5px;
    }

    .header-footer-content > i{
        color:#fca404;
    }

    .header-footer-content > i:hover{
        cursor: pointer;
    }

    #main{
        width: 100%;
    }

    #main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .top-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fca404;
        width: 100%;
        height: 150px;
    }

    .top-main > img{
        width: 100%;
        height: 60%;
    }

    .buttons-main{
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.6%;
        padding-bottom: 0.6%;
    }

    .buttons-main > img{
        width: 32%;
    }
    
    .buttons-main > img:hover{
        cursor: pointer;
    }

    .news-main, .highlights-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .news-main > p{
        color: #8e8e8e;
        font-weight: bold;
        font-size: 1.5rem;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .news-card-main, .highlights-card-main{
        display: flex;
        flex-wrap: wrap;
        width: 85%;
    }


    .card{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        position: relative;
    }

    .news-card-main > div > img, .highlights-card-main > div > img{
        width: 100%;
    }

    .news-card-main > div > p, .highlights-card-main > div > p{
        color: #8e8e8e;
        font-size: 0.75rem;
    }

    .news-card-main > div > span, .highlights-card-main > div > span{
        color: #8e8e8e;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .hover-image{
        position: absolute;
        visibility: hidden;
    }

    .card:hover .hover-image{
        visibility: inherit;
    }

    .banners-main{
        display: flex;
        justify-content: space-between;
        padding-top: 4%;
    }

    .banners-main > img{
        width: 49%;
    }

    .banners-main > img:hover{
        cursor: pointer;
    }

    .highlights-main > p{
        color: #8e8e8e;
        font-weight: bold;
        font-size: 1.5rem;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .bot-main{
        width: 100%;
        background-color: #845cc4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bot-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5%;
    }

    .bot-infos{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .bot-infos > div{
        display: flex;
        align-items: center;
        width: 33%;
    }

    .bot-infos > div > img{
        padding-right: 2%;
    }

    .bot-infos > div > span, .bot-infos > div > p{
        color: #ffffff;
        font-size: 0.5rem;
    }

    .bot-infos > div > p > span{
        font-weight: bold;
    }

    .bot-newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    hr{
        border: 2px solid #fca404;
        width: 100%;
    }

    .main-newsletter{
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }

    h2{
        font-weight: bold;
        font-size: 1rem;
    }

    h2, h3{
        color: #ffffff;
        font-size: 0.75rem;
    } 

    .form-newsletter{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom: 5%;
    }

    .form-newsletter > input {
        border: none;
        border-bottom: 2px solid #ffffff;
        background: #845cc4;
        color: #ffffff;
        width: 30%;
        height: 35px;
    }

    .form-newsletter > input::placeholder {
        color: #ffffff;
        opacity: 1;
    }

    .form-newsletter > button {
        height: 35px;
        background-color: #fca404;
        width: 15%;
        color: #ffffff;
        border: none;
        border-radius: 4%;
    }

    .form-newsletter > button:hover{
        cursor: pointer;
    }

    #footer{
        width: 100%;
    }

    .footer-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-container > hr{
        border: 1.5px solid #8e8e8e;
        width: 95%;
    }

    .top-footer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .footer-center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-center > h4{
        color:#845cc4
    }

    .footer-center > p{
        color:#8e8e8e;
    }

    .logo-footer{
        width: 100%;
        margin-bottom: 30px;
    }

    .logo-footer > img{
        width: 250px;
        height: 150px;
    }

    .logo-footer > p{
        font-size: 0.75rem;
    }

    .icons-footer{
        display: flex;
        justify-content: space-between;
        width:50%;
        margin-bottom: 5%;
    }

    .icons-footer > i{
        color: #8e8e8e;
    }

    .icons-footer > i:hover {
        color: #fca404;
        cursor: pointer;
    }

    .pet-store-footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 48%;
    }

    .pet-store-footer > h4{
        color: #845cc4;
    }

    .pet-store-footer > p{
        color:#8e8e8e;
        margin-top: 7%;
        font-size: 0.75rem;
    }

    .pet-store-footer > p:hover{
        cursor: pointer;
    }

    .contact-footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 48%;
    }

    .contact-footer > h4{
        color: #845cc4;
    }

    .contact-footer > p{
        color:#8e8e8e;
        margin-top: 7%;
        font-size: 0.75rem;
    }

    .payment-footer{
        width: 48%;
        margin-top: 30px;
    }

    .payments-icon-footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 5%;
    }

    .payments-icon-footer > img{
        width: 21%;
        margin-bottom: 5%;
    }

    .serie-footer{
        display: flex;
        justify-content: center;
    }

    .serie-footer > p{
        color: #8e8e8e;
        font-size: 0.75rem;
        margin-right: 5%;
    }

    .pointer :hover {
        cursor: pointer;
    }
}